* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.main {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; */
  width: 90%;
  margin: 2rem auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.card {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.card-header {
  padding: 1rem;
  background-color: lightgray;
}

.card-body {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.online {
  height: 15px;
  width: 15px;
  background-color: rgb(67, 196, 67);
  border-radius: 50%;
}

.offline {
  height: 15px;
  width: 15px;
  background-color: rgba(219, 55, 55, 0.877);
  border-radius: 50%;
}
