* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.gap-3 {
  gap: 1rem;
}

.card {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.card-header {
  padding: 1rem;
  background-color: lightgray;
}

.card-body {
  padding: 1rem;
}
